.total-amount {
    font-weight: bold;
    font-size: 1.6em;
}

.delivery-cost {
    font-weight: bold;
    font-size: 15px;
}

.hidden {
    display: none;
}

.checkout-options {
    z-index: 3;
    border-radius: 18px;
    padding: 20px;
    width: 70%;
    height: 40vh;
    background: palevioletred;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

.location {
    z-index: 3;
    border-radius: 18px;
    padding: 20px;
    width: 70%;
    height: 38vh;
    background: greenyellow;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

.logo {
    text-align: center;

}

.jumbotrona {
    padding-top: 250px;
    text-align: center;
    background: url("./IMAGES/p.jpg") no-repeat;
    width: 100%;
    height: 600px;
    text-align: center;
    background-size: 100%;
    color: rgb(53, 5, 141);
    font-size: 24px;
}

.btn {
    color: white;
    font-size: larger;
}

nav {
    text-align: center;
    color: white;
}

nav a {
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    text-align: center;
    color: rgb(87, 33, 33);
    padding: 1px;
}

.jumbotron {
    background-color: white;
    text-align: center;
}

.form-group {
    padding-left: 40px;
    height: 100%;
    position: relative;
}

textarea {
    width: 100%;
    background-image: center;
    color: white;
    resize: none;
    border: solid white;
    outline: none;
    height: 100%;
    position: relative;
}

.form-group input {
    border: none;
    outline: none;
    background: none;
}

.text>p {
    padding-top: 70px;
}

.con {
    color: white;
}

.f {
    text-align: center;
    width: 100%;
    text-orientation: initial;
    background-position: center;
    height: 550px;
    text-align: center;
    background: url("./IMAGES/w.webp") no-repeat;
    background-size: cover;

}

.message {
    padding: 3px 15px;
    margin: 7px 2px;
    width: 700px;
    max-width: 89%;
}

form {
    width: 700px;
    max-width: 90%;
}

::placeholder {
    color: black;
}

form input {
    width: 49%;
}

form input,
form textarea {
    background: transparent;
    border: 1px solid black;
    color: black;
    padding: 7px;
}

form textarea {
    margin-top: 20px;
    width: 98.%;
}

@media only screen and (max-width: 102) {
    body {
        width: 100%;
        margin: 5px 0;
    }

}

form input[type=submit] {
    width: auto;
    padding: 0 15%;
}

.show {
    display: block;
}